<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESI</title>
    <link rel="icon" href="/static/png/icon2.png" > 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accept.css' %}">
</head>
<body>
    <center>
        <div class=logo>  <img src="/static/png/logo.gif" alt="logo du site " width= "350" height="200" >  </div> 
    </center>

    <div class="center">
       <h1>bien inscrit</h1>
       <img class="image" src="/static/png/PouceBleu.png" alt="accepte" width="150"height="150"></img>
    </div>